/*колір основного тексту #212121*/
/*вторинний колір #757575*/
/*білий #FFFFFF*/
/*акцент #2196F3*/
/*вторинний колір фону #F5F4FA,#2F303A, 
#EEEEEE*/

/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --section-bg2-color: #eeeeee;
  --footer-title-color: #ffffff99;
  --icon-color: #afb1b8;
  --bg-color-hero: #c4c4c4;
  --border-color: #ececec;
  --btn-color: #188ce8;
  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
} */

/* ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  outline: transparent;
} */

/* .section {
  padding: 94px 0;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid blue;}  */

/* Header */
/* .header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: flex;
  align-items: center;
} */

/* Logo styles*/

/* .logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding: 25px 0;
  letter-spacing: 0.03em;
}

.logo__dark {
  color: var(--title-text-color);
}

.logo__light {
  color: var(--primary-white-color);
} */

/* Navigation */

/* .nav__list {
  display: flex;
  margin-left: 90px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--time) var(--timing-function);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link::after {
  content: '';

  position: absolute;
  bottom: -2px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;

  transition: opacity var(--time) var(--timing-function);
}

.nav__link:hover::after,
.nav__link:focus::after,
.nav__link--current::after {
  opacity: 1;
} */

/* Contacts */

/* .contacts__list {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 32px 0;
  color: var(--primary-text-color);

  transition: color var(--time) var(--timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  transition: fill var(--time) var(--timing-function);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
} */

/* Hero */
/* 
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--bg-color-hero);
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */

/* Feature */

/* .feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__item {
  width: 270px;
}

.feature__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--section-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
} */

/* Work */

/* .work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__adds {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__adds-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
} */

/* Team */
/* .team {
  background-color: var(--section-bg-color);
}

.team__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team__worker {
  text-align: center;
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
} */

/* Socials */
/* .socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border-radius: 50%;

  transition: background-color var(--time) var(--timing-function),
    color var(--time) var(--timing-function);
}

.socials__link--secondary {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
} */

/* Clients */

/* .clients__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border var(--time) var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);

  transition: fill var(--time) var(--timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
} */

/* Portfolio-nav */
/* .portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .item + .item {
  margin-left: 8px;
} */

/* Project */
/* .projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-description > p {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  padding: 63px 24px;
}

.overlay-description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function);
}

.project .link:hover .overlay-description {
  transform: translateY(0);
}

.project .link {
  display: block;
  transition: box-shadow var(--time) var(--timing-function);
}

.project .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.filter {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.prj-name {
  border: 1px solid var(--section-bg2-color);
  border-top: none;
  padding: 20px 24px;
} */

/* Button */
/* .btn-first {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: none;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color var(--time) var(--timing-function);
}

.btn-first:hover,
.btn-first:focus {
  background-color: var(--btn-color);
}

.btn {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--section-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;

  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    box-shadow var(--time) var(--timing-function);
}

 .btn:hover,
 .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn.primary.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 6px 25px;
} */

/* Footer */

/* .footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 91px;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
} */

/* Address */
/* .address {
  margin-top: 20px;
}

.address-item {
  margin-top: 9px;
}

.address-item:first-child {
  margin-top: 0;
}

.address-link {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--footer-title-color);

  transition: color var(--time) var(--timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-link-street {
  color: var(--primary-white-color);
} */

/* Mailing Form */
/* .mailing-form {
  display: flex;
  align-items: center;
}

.mailing-field {
  margin-right: 12px;
}

.mailing-input {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.mailing-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-icon {
  margin-left: 10px;
}

.mailing-btn {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
} */

/* Backdrop+Modal  */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;

  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;

  padding: 40px 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;

  transition: transform var(--time) var(--timing-function);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0, 5);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-color);
} */

/* .modal.icon {
  transition: fill var(--time) var(--timing-function);
}
.modal-btn:hover .modal-icon {
  fill: var(--accent-color);
} */

/* Registration Form */
/* .form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: block;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border var(--time) var(--timing-function);
}

.form-icon {
  transition: fill var(--time) var(--timing-function);
}

.form-input:focus,
.form-message:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border var(--time) var(--timing-function);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.form-agreement-text {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  user-select: none;
}

.form-agreement-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-position: under;
}

.form-checkbox {
  position: absolute;
  opacity: 0;
  transform: scale(0);
}

.form-icon-unchecked {
  transition: opacity var(--time) var(--timing-function);
}
.form-checkbox:checked + .form-checkbox-icon .form-icon-unchecked {
  opacity: 0;
}

.form-icon-checked {
  opacity: 0;

  transition: opacity var(--time) var(--timing-function);
}

.form-checkbox:checked + .form-checkbox-icon .form-icon-checked {
  opacity: 1;
}

.form-btn {
  display: block;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
} */
