.btn-first {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border: none;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  
    transition: background-color var(--time) var(--timing-function);
  
  &:hover,
  &:focus {
    background-color: var(--btn-color);
  }
  }

  
  .btn {
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--section-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  
    transition: color var(--time) var(--timing-function),
      background-color var(--time) var(--timing-function),
      box-shadow var(--time) var(--timing-function);
  
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
  
  .btn.primary.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 6px 25px;
  }
  