.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    padding: 25px 0;
    letter-spacing: 0.03em;
  }
  
  .logo__dark {
    color: var(--title-text-color);
  }
  
  .logo__light {
    color: var(--primary-white-color);
  }