.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;

  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;

  padding: 40px 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;

  transition: transform var(--time) var(--timing-function);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0, 5);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-color);

  transition: fill var(--time) var(--timing-function);

&:hover {
  fill: var(--accent-color);
}
}