:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-bg-color: #2f303a;
    --section-bg-color: #f5f4fa;
    --section-bg2-color: #eeeeee;
    --footer-title-color: #ffffff99;
    --icon-color: #afb1b8;
    --bg-color-hero: #c4c4c4;
    --border-color: #ececec;
    --btn-color: #188ce8;
    --time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }