
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--bg-color-hero);
    padding: 118px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img-1_sm.jpg);

      @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img-1@2x.jpg); 
      }
    
      @media screen and (min-width: 481px) {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img-2_md.jpg); 
       

        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img-2@2x.jpg); 
        } 
       }

        @media screen and (min-width: 769px) {
          padding: 200px 0;
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img-3_lg.jpg); 

        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img-3@2x.jpg); 
        } 
      }
  }
  
  .hero__title {
    max-width: 696px;
    margin: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width:1199px) {
      font-size: 26px;
      
    }

  }