.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .project .link {
    display: block;
    transition: box-shadow var(--time) var(--timing-function);
  
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }
  
  .project .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
  }
  
  .filter {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }
  
  .prj-name {
    border: 1px solid var(--section-bg2-color);
    border-top: none;
    padding: 20px 24px;
  }

  .overlay {
    position: relative;
    overflow: hidden;
  }
  
  .overlay-description > p {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 63px 24px;
  }
  
  .overlay-description {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: transform var(--time) var(--timing-function);
 
  .project .link:hover & {
    transform: translateY(0);
  }
  } 
